@model Escuela 

@{
    ViewData["Title"] = "Información Escuela";
}

<h1>Escuela @ViewData["Title"] </h1>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Año fundación: @Model.Year </strong></p>

<p>
    <i>@ViewBag.CosaDinamica</i>
    <i>@ViewData["CosaDinamica"]</i>
</p>