@model Curso

@{
    ViewData["Title"] = "Información Curso";
}

<h1>@ViewData["Title"] </h1>

<strong>Desde la vista normal</strong>
<p>
    Id: @Model.Id<br />
    Nombre: @Model.Nombre<br />
    Dirección: @Model.Dirección<br />
    Jornada: @Model.Jornada
</p>

<strong>Desde la vista parcial</strong>
<!-- <partial name="AsignaturaSimple" model="@Model.Nombre"/> -->
<partial name="ObjetoEscuelaSimple" />

<p>
    <i>@ViewBag.Fecha</i>
</p>